body {
  width: 250px;
  margin: 0;
  margin-left: 10px;
}
.user {
  width: 100%;
  padding: 10px 0;
  border-bottom: solid 1px;
  height: 40px;
  clear: both;
}
img {
  height: 40px;
  width: 53px;
  float: left;
}
li {
  float: left;
}
.userInfo {
  float: left;
  margin: 0;
  margin-left: 5px;
  width: 160px;
  word-break: break-all;
}
i {
  margin-right: 5px;
}